.category-container {
  margin-top: 30px;
  display: flex;
  color: lightgray;
 
}
.category-title-container
{

    width: 70%;
}
.category-logo-container {
  width: 40%;
 
}
@media only screen and (max-width: 1300px) {
  .category-logo-container {
    display: none;
  }
  .category-container{
      flex-direction: column;
      margin-left: 190px;
  }
}
