.category-container{
    margin-top: 30px;
    display: flex;
    
   
}
.category-logo-container
{
    
    width: 40%;
}
@media only screen and (max-width: 600px) {
  .category-logo-container{
      display: none;
  }
    
  }