.carousel-Image img {
  border-radius: 2px;
  position: relative;
  margin: 5px;
}
.favourites-button {
  display: none;
  bottom: 0;
  position: absolute;
}
.carousel-image-title {
  color: white;
  width: 90px;
  font-size: 12px;
  background-color: black;
  position: absolute;
  top: 0;
  display: none;
  padding: 10px;
}
.user_pic
{
  position: absolute;
  z-index: 999;
  right: 0;
  opacity: 0;
  padding: 2px;
  

}
.carousel-Image:hover .user_pic{
  opacity: 0.9;
}

.carousel-Image:hover .carousel-image-title  {
  display: block;
}
.carousel-Image:hover .favourites-button {
  display: block;
  padding: 20px;
  transition: opacity 0.2s ease-in-out;
}
.carousel-Image {
  padding-left: 10px;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.carousel-Image:hover {
  transform: scale(1.1);
  z-index: 999;
}
