.grid-album-container
{
    display: grid;
    grid-template-columns: auto auto ;
    width: fit-content;
    margin-bottom:50px ;
    margin-top: 10px;
  
  
}
.flex-album-cotainer
{
    display:flex;
    flex-direction: row;
   
}